@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

.body {
    display: flex;
    justify-content: center;
}

.logo {
    height: 80px;
    min-height: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.login-panel {
    background-color: black;
    border-color: white;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    width: 520px;
    height: 470px;
    
}
.header {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 20px;
}

.input-box {
    display: flex;
    justify-items: center;
    height: 90px;
}

.input-box .email {
    color: white;
    background-color: black;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    transition: 0.2s ease;
}

.input-box .email:hover {
    box-shadow: 0 0 1em white;
}

.input-box .email::placeholder {
    color: white;
}

.input-box .password {
    color: white;
    background-color: black;
    border-radius: 50px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    transition: 0.2s ease;
}

.input-box .password:hover {
    box-shadow: 0 0 1em white;
}

.input-box .password::placeholder {
    color: white;
}

.btn {
    display: flex;
    justify-content: center;
}

.submit {
    color: white;
    font-size: 20px;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-radius: 40px;
    height: 56px;
    width: 200px;
    margin-top: 30px;
    transition: 0.3s ease;
}

.submit:hover {
    transform: scale(1.2);
    box-shadow: 0 0 1em white;
    cursor: pointer;
}

.copyrights {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 23px;
}

.signup-form {
    display: flex;
    justify-content: center;
    margin-top: 25px
}

.signup-form a{
    color: white;
    text-decoration: none;
    transition: 0.3s ease;
}

.signup-form p{
    color: white;
}

.signup-form a:hover{
    text-shadow: 0 0 1em white;
}