@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.logo {
    height: 80px;
    margin-bottom: 30px;
}

.login-panel {
    background-color: white;
    border-radius: 20px;
    padding: 30px;
    width: 520px;
}

.header {
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

.input-box {
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
    width: calc(100% - 20px);
    padding: 15px;
    font-size: 18px;
    text-align: center;
    transition: box-shadow 0.3s ease;
}

input:hover {
    box-shadow: 0 0 1em black;
}

input::placeholder {
    color: white;
}

.btn {
    text-align: center;
}

.submit {
    color: white;
    font-size: 20px;
    background-color: black;
    border: 2px solid black;
    border-radius: 40px;
    height: 56px;
    width: 200px;
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.submit:hover {
    transform: scale(1.1);
    box-shadow: 0 0 1em black;
    cursor: pointer;
}

.signup-form {
    text-align: center;
    margin-top: 20px;
}

.signup-form p {
    margin-bottom: 0;
    color: black;
}

.signup-form a {
    color: black;
    text-decoration: none;
    transition: text-shadow 0.3s ease;
}

.signup-form a:hover {
    text-shadow: 0 0 1em black;
}

.copyrights {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
}

/* Scrollbar customization */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background: #ffffff;
}

::-webkit-scrollbar-thumb:hover {
    background: #dddddd;
}
